<section class="next-page v-dark pt-section pb-50">
    <div class="container">
        <div class="tob-box d-flex justify-content-between align-items-end border-bottom pb-50 mb-50">
            <h2 class="title text-upper">time to <br> roar! </h2>

            <div class="dsn-btn dsn-btn-shape d-flex">

                <a class="button background-main v-light effect-ajax" href="{% url 'base:contact' %}">
                    <span class="title-btn p-relative  z-index-1 heading-color"
                        data-animate-text="Let's talk!">
                        <span>Let's talk!</span>
                    </span>
                </a>

                <span class="icon background-main v-light">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path
                            d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z">
                        </path>
                    </svg>
                </span>

            </div>
        </div>
    </div>

    <div class="container over-hidden">
        <div class="bottom-box ">
            <div class="d-flex gap-10 justify-content-between flex-wrap">
                <div class="info-item">
                    <h6 class="mb-10">Email Address</h6>
                    <a class="text-upper" href="#">thinksphere@gmail.com</a>
                </div>

                <div class="info-item">
                    <h6 class="mb-10">Call Info</h6>
                    <a class="text-upper" href="#">+250 078 888 888</a>
                </div>

                <div class="info-item">
                    <h6 class="mb-10">Youtube</h6>
                    <a class="text-upper" href="#">@thinksphere</a>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <footer class="footer-personal v-light mt-50">
            <div class="d-grid grid-md-3 align-items-center">
                <div class="links">
                    <ul class="d-flex">
                        <li><a href="{% url 'base:home' %}">HOME</a></li>
                        <li><a href="{% url 'base:about' %}">ABOUT</a></li>
                        <li><a href="{% url 'base:portfolio' %}">PORTFOLIO</a></li>
                        <li><a href="{% url 'base:contact' %}">CONTACT</a></li>
                    </ul>
                </div>

                <div class="dsn-logo main-logo d-flex align-items-center justify-content-center">
                    <div class="main-logo">
                        <a href="#" class="custom-logo-link main-brand effect-ajax">
                            <img class="custom-logo logo-light" src="assets/img/logo-light.png" alt="">
                            <img class="custom-logo logo-dark" src="assets/img/logo.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="copyright">
                    <p class="over-hidden">
                        © 2025 ThinkSphere
                    </p>
                </div>
            </div>
        </footer>
    </div>
</section>