{% extends 'layout/app.html' %}
{% load static %}
{% block content %}
<header class="header-normal v-dark-head header-corporate section-padding dsn-header-animation">
    <div class="box-img h-100 w-100 h-100 p-absolute top-0 right-0 before-z-index" data-overlay="5">

        <img class="cover-bg-img" src="{% static 'assets/img/bg.jpg' %}" alt="">
    </div>

    <div class="container p-relative z-index-1 dsn-hero-parallax-title">
        <div class="content p-relative pt-section">
            <h1 class="title-lg d-flex flex-column text-upper">
                <span>We</span>
                <span>Are</span>
                <span class="end">ThinkSphere</span>
            </h1>
            <div class="description">
                <p>Building Futures by bridging agricultural infrastructure for sustainable growth and development</p>
            </div>
        </div>
    </div>

    <div class="footer-head w-100 left-0 p-absolute bottom-0 z-index-2 pb-40">
        <div class="container d-flex justify-content-between">
            <div class="dsn-btn dsn-btn-shape rotate-icon d-flex">

                <a class="button background-section" href="#page_wrapper" rel="nofollow"
                    data-dsn-option='{"ease": "power4.inOut" , "duration" : 1.5}'>
                    <span class="title-btn text-upper p-relative  z-index-1 heading-color"
                        data-animate-text="Scroll Down">
                        <span>Scroll Down</span>
                    </span>
                </a>

                <span class="icon background-section">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z">
                        </path>
                    </svg>
                </span>

            </div>

            <div class="dsn-btn dsn-btn-shape d-flex">

                <a class="button background-section effect-ajax" href="{% url 'base:contact' %}"
                    data-dsn-text="Contact Us">
                    <span class="title-btn text-upper p-relative  z-index-1 heading-color"
                        data-animate-text="Contact Me">
                        <span>Contact Us</span>
                    </span>
                </a>

                <span class="icon background-section">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z">
                        </path>
                    </svg>
                </span>

            </div>
        </div>
    </div>
</header>

<section class="about-has-image section-padding">
    <div class="container">
        <div class="d-grid grid-half-1 align-items-center">
            <div class="box-text pt-60 pb-60">
                <div class="section-title d-flex flex-column">
                    <span class="sub-heading mb-10 dsn-up">About Us</span>

                    <h2 class="title mb-30 dsn-fill">WHAT WE DO</h2>

                    <p class="dsn-up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, qui cum sed consectetur dolor eius. Maxime ipsa reiciendis quibusdam ipsum pariatur unde hic nostrum quis, quisquam veniam quaerat laudantium minus.</p>

                    <div class="dsn-up">
                        <div class="dsn-btn dsn-btn-shape d-flex mt-30">

                            <a class="button v-dark background-section effect-ajax" href="about.html">
                                <span class="title-btn text-upper p-relative  z-index-1 heading-color"
                                    data-animate-text="About Us">
                                    <span>About Us</span>
                                </span>
                            </a>

                            <span class="icon v-dark background-section">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                    <path
                                        d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z">
                                    </path>
                                </svg>
                            </span>

                        </div>
                    </div>

                </div>
            </div>

            <div class="box-img">
                <div class="img-inner"
                    data-dsn-animation='{"from":{"x":"100"},"to":{"x":"0"},"responsive":["tablet","desktop"]}'>
                    <img class="cover-bg-img has-border-radius" src="{% static 'assets/img/1.jpg' %}" alt="">
                </div>

                <div class="img-inner">
                    <img class="cover-bg-img has-border-radius" src="{% static 'assets/img/2.jpg' %}"
                        alt="">
                </div>

                <div class="img-inner"
                    data-dsn-animation='{"from":{"y":"-70"},"to":{"y":"0"},"responsive":["tablet","desktop"]}'>
                    <img class="cover-bg-img has-border-radius" src="{% static 'assets/img/4.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========== Service ========== -->
<section class="our-work work-scroll  section-margin not-filter dsn-filter over-hidden">
    <div class="container">
        <div class="section-title mb-70 d-flex flex-column">
            <span class="sub-heading mb-10 dsn-up">Our Activities</span>

            <h2 class="title dsn-fill">Explore our<br>Proposed Solutions</h2>
        </div>
    </div>
    <div class="container">
        <div class="dsn-cards use-v-scroll p-relative"
            data-dsn-option='{"speed" : 4,"center_screen" : true }'>
            <div class="dsn-posts">

                <!-- ========== green hydron energy ========== -->
                <article class="dsn-item-post grid-item over-hidden p-relative has-border-radius">

                    <div class="box-content d-flex ">
                        <div class="img-cat w-100">
                            <div
                                class="box-image-bg w-100 over-hidden has-border-radius before-z-index dsn-swiper-parallax-transform">
                                <img src="{% static 'assets/img/1bg.jpg' %}"
                                    class="cover-bg-img dsn-swiper-parallax-transform" alt="" />
                            </div>
                        </div>

                        <div
                            class="post-content v-light background-main z-index-1 d-flex flex-column p-absolute">

                            <div class="post-info d-flex justify-content-between align-items-center">
                                <h2 class="post-title word-wrap d-inline-block title-block">
                                    <a href="project-1.html" class="effect-ajax init-color"
                                        data-dsn-ajax="work">001</a>
                                </h2>

                                <div class="cat background-main d-flex">
                                    <span class="background-section heading-color">Green Hydrogen Energy</span>
                                    <span class="background-section heading-color">kwasolar Initiative</span>
                                </div>

                                <a href="project-1.html"
                                    class="dsn-btn dsn-btn-shape d-flex effect-ajax">
                                    <span class="icon background-section">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                            <path
                                                d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z">
                                            </path>
                                        </svg>
                                    </span>

                                </a>

                            </div>
                        </div>
                    </div>

                </article>

                <!-- ========== Solar Pannels ========== -->
                <article class="dsn-item-post grid-item over-hidden p-relative has-border-radius">

                    <div class="box-content d-flex ">
                        <div class="img-cat w-100">
                            <div
                                class="box-image-bg w-100 over-hidden has-border-radius before-z-index dsn-swiper-parallax-transform">
                                <img src="{% static 'assets/img/solarpannels.jpg' %}"
                                    class="cover-bg-img dsn-swiper-parallax-transform" alt="" />
                            </div>
                        </div>

                        <div
                            class="post-content v-light background-main z-index-1 d-flex flex-column p-absolute">

                            <div class="post-info d-flex justify-content-between align-items-center">
                                <h2 class="post-title word-wrap d-inline-block title-block">
                                    <a href="project-2.html" class="effect-ajax init-color"
                                        data-dsn-ajax="work">002</a>
                                </h2>

                                <div class="cat background-main d-flex">
                                    <span class="background-section heading-color">Solar Pannels</span>
                                    <span class="background-section heading-color">Kwasolar Initiative</span>
                                </div>

                                <a href="project-2.html"
                                    class="dsn-btn dsn-btn-shape d-flex effect-ajax">
                                    <span class="icon background-section">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                            <path
                                                d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z">
                                            </path>
                                        </svg>
                                    </span>

                                </a>

                            </div>
                        </div>
                    </div>

                </article>

                <!-- ========== Water Supply ========== -->
                <article class="dsn-item-post grid-item over-hidden p-relative has-border-radius">

                    <div class="box-content d-flex ">
                        <div class="img-cat w-100">
                            <div
                                class="box-image-bg w-100 over-hidden has-border-radius before-z-index dsn-swiper-parallax-transform">
                                <img src="{% static 'assets/img/7.jpg' %}"
                                    class="cover-bg-img dsn-swiper-parallax-transform" alt="" />
                            </div>
                        </div>

                        <div
                            class="post-content v-light background-main z-index-1 d-flex flex-column p-absolute">

                            <div class="post-info d-flex justify-content-between align-items-center">
                                <h2 class="post-title word-wrap d-inline-block title-block">
                                    <a href="project-3.html" class="effect-ajax init-color"
                                        data-dsn-ajax="work">003</a>
                                </h2>

                                <div class="cat background-main d-flex">
                                    <span class="background-section heading-color">Water Supply</span>
                                    <span class="background-section heading-color">ekwasolar initiative</span>
                                </div>

                                <a href="project-3.html"
                                    class="dsn-btn dsn-btn-shape d-flex effect-ajax">
                                    <span class="icon background-section">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                            <path
                                                d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z">
                                            </path>
                                        </svg>
                                    </span>

                                </a>

                            </div>
                        </div>
                    </div>

                </article>

                <article class="dsn-item-post grid-item over-hidden p-relative has-border-radius">

                    <div class="box-content d-flex ">
                        <div class="img-cat w-100">
                            <div
                                class="box-image-bg w-100 over-hidden has-border-radius before-z-index dsn-swiper-parallax-transform">
                                <img src="https://template.dsngrid.com/exfolio/light/assets/img/portfolio/project4/1.jpg"
                                    class="cover-bg-img dsn-swiper-parallax-transform" alt="" />
                            </div>
                        </div>

                        <div
                            class="post-content v-light background-main z-index-1 d-flex flex-column p-absolute">

                            <div class="post-info d-flex justify-content-between align-items-center">
                                <h2 class="post-title word-wrap d-inline-block title-block">
                                    <a href="project-4.html" class="effect-ajax init-color"
                                        data-dsn-ajax="work">16/March</a>
                                </h2>

                                <div class="cat background-main d-flex">
                                    <span class="background-section heading-color">Challenge 4</span>
                                    <span class="background-section heading-color">GCGO Research</span>
                                </div>

                                <a href="project-4.html"
                                    class="dsn-btn dsn-btn-shape d-flex effect-ajax">
                                    <span class="icon background-section">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                            <path
                                                d="M328 96h24v288h-48V177.9L81 401l-17 17-33.9-34 17-17 223-223H64V96h264z">
                                            </path>
                                        </svg>
                                    </span>

                                </a>

                            </div>
                        </div>
                    </div>

                </article>

            </div>
        </div>
    </div>
</section>
<!-- ==========  End Service ========== -->

<!-- ==========  Team ========== -->
<section class="dsn-team team-two section-padding background-section dsn-swiper over-hidden"
    data-dsn-option='{"grabCursor":true,"loop":true,"slidesPerView":4,"speed":1000,"effect":"creative",
        "creativeEffect":{"limitProgress":3,"perspective":false,
        "prev":{"rotate": [-7, -7, -7], "translate": [-500, 50, -200]},"next":{"rotate": [7,7,7], "translate": [500, 50, 200]}}}'>
    <div class="">
        <div class="swiper-container swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide team-item v-dark-head p-relative">
                    <div class="box-img has-border-radius over-hidden" data-overlay="1">
                        <img class="cover-bg-img" src=" {% static 'assets/img/solomon.jpeg' %} " alt="">
                    </div>
                    <div class="content w-100 p-absolute bottom-0 text-center"
                        data-swiper-parallax-opacity="0">
                        <div class="text">
                            <h4 class="title-block text-upper mb-5">Solomon Thiong Garang </h4>
                            <span class="text-upper">Analyst</span>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide team-item v-dark-head p-relative">
                    <div class="box-img has-border-radius over-hidden" data-overlay="3">
                        <img class="cover-bg-img" src="{% static 'assets/img/Annie.jpg' %}" alt="">
                    </div>
                    <div class="content w-100 p-absolute bottom-0 text-center"
                        data-swiper-parallax-opacity="0">
                        <div class="text">
                            <h4 class="title-block text-upper mb-5">BWIZA P Annie</h4>
                            <span class="text-upper">Analyst</span>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide team-item v-dark-head p-relative">
                    <div class="box-img has-border-radius over-hidden" data-overlay="2">
                        <img class="cover-bg-img" src="{% static 'assets/img/Andrew.jpg' %}" alt="">
                    </div>
                    <div class="content w-100 p-absolute bottom-0 text-center"
                        data-swiper-parallax-opacity="0">
                        <div class="text">
                            <h4 class="title-block text-upper mb-5">Andrew Thon Cisse</h4>
                            <span class="text-upper">Videographer</span>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide team-item v-dark-head p-relative">
                    <div class="box-img has-border-radius over-hidden" data-overlay="3">
                        <img class="cover-bg-img" src="{% static 'assets/img/Bonesha.jpg' %}" alt="">
                    </div>
                    <div class="content w-100 p-absolute bottom-0 text-center"
                        data-swiper-parallax-opacity="0">
                        <div class="text">
                            <h4 class="title-block text-upper mb-5">Bonesha U Kevine</h4>
                            <span class="text-upper">Analyst</span>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide team-item v-dark-head p-relative">
                    <div class="box-img has-border-radius over-hidden" data-overlay="1">
                        <img class="cover-bg-img" src="{% static 'assets/img/Ladouce.jpg' %}" alt="">
                    </div>
                    <div class="content w-100 p-absolute bottom-0 text-center"
                        data-swiper-parallax-opacity="0">
                        <div class="text">
                            <h4 class="title-block text-upper mb-5">ISHEJA Ladouce</h4>
                            <span class="text-upper">Analyst</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="section-title mt-70 d-flex flex-column align-items-center text-center">
            <span class="sub-heading mb-10 dsn-up">OurTeam</span>

            <h2 class="title dsn-text">MEET OUR TEAM</h2>
        </div>
    </div>
</section>
<!-- ========== End Team ========== -->

{% endblock content %}
    