{% load static %}
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="icon" href="assets/img/logo-32x32.png" sizes="32x32" />
    <link rel="icon" href="assets/img/logo-192x192.png" sizes="192x192" />

    <title>Corporate</title>

    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body class="v-light dsn-ajax">

    <main id="main_root" class="main-root">

        <!-- ========== Menu ========== -->
        {% include 'components/navbar.html' %}
        <!-- ========== End Menu ========== -->

        <div id="dsn-scrollbar">
            {% block content %}{% endblock %}

            {% include 'components/footer.html' %}
        </div>
    </main>

    <div id="dsn_cursor" class="ball"></div>
    <div id="dsn_cursor_inner" class="ball"></div>

    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/dsn-grid.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>

</html>